#a1{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    position: absolute;
    top:100px;
    left: 200px;
    overflow: hidden;
}

#a2{
    height:100px ;
    width:100px ;
    background-color: brown;
    position: absolute;
    left: -100px;
    
}