/* Chat containers */

#page-header {
  background-color: rgb(31, 31, 31);
  height: 55px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  font-size: 30px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
}

body {
  margin: 60px 120px;
  background-color: #121212;
}

.container {
  border: rgb(45,45,45) 2px solid;
  border-radius: 4px;
  padding: 0px 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 4px;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: green;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

#credits{
  color: white;
  font-size: 20px;
  text-align: center;
}