#chessBoard{
    display: inline-block;
    justify-content: center;
}


.cell{
    height: 65px;
    width: 65px;
    float: left;
}

.white{
    background-color: rgb(134, 134, 134);
}

.black{
    background-color: rgb(236, 236, 236);
}

img{
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
}