#chessBoard{
    display: inline-block;
    justify-content: center;
    z-index: 2;
}


.cell{
    height: 65px;
    width: 65px;
    border: solid black 1px;
    float: left;
}

.white{
    background-color: rgb(134, 134, 134);
}

.black{
    background-color: rgb(236, 236, 236);
}

img{
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
}

#turnDisplay{
    font-size: 20px;
    opacity: 1;
}

body{
    text-align: center;
    background-image: url('../img/p.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

button{
    height: 25px;
}

#ui{
    height: 536px;
    width: 536px;
    z-index:1;
    position: absolute;
    left: 364px;
}