#layer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 4%;
  border: 3px solid black;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 5;
}

#layer2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 4%;
  border: 3px solid black;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 4;
}

#layer3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  border-radius: 4%;
  border: 3px solid black;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 3;
}

#layer4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border-radius: 4%;
  border: 3px solid black;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 2;
}

#layer5 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  border-radius: 4%;
  border: 3px solid black;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 1;
  font-size: 45px;
  column-gap: 20px;
}

.heart {
  fill: red;
  position: relative;
  top: 3.5px;
  width: 35px;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
